.slide-up {

    &.slide-up-dark {
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(
            top,
            $dark 0%,
            $dark 8em,
            #ffffff 8em,
            #ffffff 100%
        ); /* FF3.6-15 */
        background: -webkit-linear-gradient(
            top,
            $dark 0%,
            $dark 8em,
            #ffffff 8em,
            #ffffff 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
            to bottom,
            $dark 0%,
            $dark 8em,
            #ffffff 8em,
            #ffffff 100%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    &.slide-up-light {
        background: $dark; /* Old browsers */
        background: -moz-linear-gradient(
            top,
            #fff 0%,
            #fff 8em,
            $dark 8em,
            $dark 100%
        ); /* FF3.6-15 */
        background: -webkit-linear-gradient(
            top,
            #fff 0%,
            #fff 8em,
            $dark 8em,
            $dark 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
            to bottom,
            #fff 0%,
            #fff 8em,
            $dark 8em,
            $dark 100%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    
}

.slide-down {
    @include media-breakpoint-up(md) {
        margin-top: 10em;
    }
}